body {
  background-color: #f8f9fa;
}
/* Header */
.logo {
  width: 200px;
}
.align-right {
  justify-content: flex-end;
}

/* Links */
a {
  text-decoration: none;
  color: #98140d;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.search-container input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
}
h1 {
  margin: 50px auto;
  font-size: 30px;
  text-align: center;
}

h2 {
  margin: 20px auto;
  padding: 20px;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pie-chart-container {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

#nutritionPieChart {
  margin: 10px auto;
  display: block;
}
.food-name,
.calorie-amount {
  color: red;
}
/* body */
.container {
  margin-top: 50px;
}

footer {
  margin-top: 100px;
  padding: 20px;
  font-size: 15px;
  font-weight: 500;
  background-color: #4d467f;
  color: #fff;
  text-align: center;
}
