#datetime {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
/* Header */

.logo {
  width: 200px;
}
.align-right {
  justify-content: flex-end;
}

/* about me page */
body {
  background-color: #f8f9fa;
}

h1,
h3 {
  color: #98140d;
  text-align: center;
  margin: 50px;
  font-family: "Playwrite AU VIC", cursive;
}

.about-me {
  font-family: "Signika Negative", sans-serif;
}

/* main page body */

p {
  font-size: 35px;
  font-family: "Signika Negative", sans-serif;
}
a {
  text-decoration: none;
  color: #98140d;
}
b {
  color: #98140d;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
.projects {
  margin: 150px;
}
.our-products {
  padding: 30px;
  font-weight: bolder;
}
.custom-main-image {
  width: 500px;
  height: 500px;
  border-radius: 20px;
}
.view-work-button {
  margin-top: 100px;
  text-align: center;
  font-family: "Playwrite AU VIC", cursive;
}

footer {
  margin-top: 100px;
  padding: 20px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #646d76;
  color: #fff;
  text-align: center;
}
