#datetime {
  text-align: center;
  margin: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
/* Header */

.logo {
  width: 200px;
}
.align-right {
  justify-content: flex-end;
}

footer {
  margin-top: 100px;
  padding: 20px;
  font-size: 15px;
  background-color: #343a40;
  color: #fff;
  text-align: center;
}
/* Body */
h1,
h3 {
  color: #98140d;
  text-align: center;
  margin: 30px;
  font-family: "Playwrite AU VIC", cursive;
}
.about-me {
  font-family: "Signika Negative", sans-serif;
}
